#root {
    margin: 0;
    text-align: center;
}

/* Nav */
.navigation {
    height: 3rem;
    background-color: rgb(122, 22, 22);
}

.navLinks {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0rem 3rem;
}

.active,
.inactive {
    text-decoration: none;
    font-size: 18px;
    padding-right: 1rem;
}
.active {
    color: rgb(245, 245, 75);
}
.inactive {
    color: white;
}

/* Home */
header {
    color: rgb(122, 22, 22);
    background-image: url(./assets/img/header.jpg);
    height: 15rem;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Pizza Gallery */
.pizzaGallery {
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: space-around;
    gap: 2rem;
    margin: 3rem;
}

.cardGallery {
    width: 18rem;
}

.cardGalleryIng {
    text-align: start;
    padding: 0rem 3rem;
}

.cardButtons {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 1rem;
}
