#root {
    margin: 0;
    text-align: center;
}

/* Home */
header {
    color: white;
    background-image: url(./assets/img/header.jpg);
    height: 15rem;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Pizza Gallery */
.pizzaGallery {
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: space-around;
    gap: 2rem;
    margin: 3rem;
}

.cardGallery {
    width: 18rem;
}

.cardGalleryIng {
    text-align: start;
    padding: 0rem 3rem;
}

.cardButtons {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 1rem;
}
